.player {
  background-color: rgb(232, 152, 8);
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(#121212)),var(--background-noise);
  background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%),var(--background-noise);
  height: 100vh;
  margin-top: -85px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  width: 100%;
  z-index: -1;
}